@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  body {
    margin: 0;
    min-height: 100%;
    background-color: #FCFCFC;
    color: #09090B;
  }
}

::selection {
  background-color: #09090B;
  color: #FCFCFC;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #FCFCFC;
}

::-webkit-scrollbar-thumb {
  background: #D4D4D8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A1A1AA;
}

